@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --bs-image-gray: #d9d9d9;
    --bs-image-gray-border: #d0d5da;
    --pokemon-list-bg: #ebedf0;
}

.bg-card {
    background-color: var(--bs-image-gray);
}

.bg-card-border {
    border: 1px solid var(--bs-image-gray-border);
}

.bg-list {
    background-color: var(--pokemon-list-bg);
}

.h-85 {
    height: 85%;
}

.w-80 {
    width: 80%;
}

@media (min-width: 1400px) {
    .container-xl, .container-xxl {
      max-width: 1098px;
    }
}

/* Override Bootstrap Pagination */
.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-color: #222a30;
}