@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --bs-image-gray: #d9d9d9;
    --bs-image-gray-border: #d0d5da;
    --pokemon-list-bg: #ebedf0;
    --pokemon-badges-bg: #e6f1fd;
    --pokemon-primary-color: #0072ee;
    --pokemon-stats-bg: #f2f3f5;
    --pokemon-details-text: #424a52;
    --bs-breadcrumb-divider: url("../src/assets/chevron.svg");
}

.bg-card {
    background-color: var(--bs-image-gray);
}

.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--pokemon-primary-color);
}

.bg-card-border {
    border: 1px solid var(--bs-image-gray-border);
}

.bg-list {
    background-color: var(--pokemon-list-bg);
}

.h-85 {
    height: 85%;
}

.w-80 {
    width: 80%;
}

.bg-badges {
    background-color: var(--pokemon-badges-bg);
    color: var(--pokemon-primary-color);
}

.bg-stats {
    background-color: var(--pokemon-stats-bg);
}

@media (min-width: 1400px) {
    .container-xl, .container-xxl {
      max-width: 1098px;
    }
}

/* Override Bootstrap Pagination */
.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-color: #222a30;
}

.pokemon-text-dark {
    color: var(--pokemon-details-text);
}